@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Futura;
    font-weight: 600;
    src: url(./fonts/futura-medium-bt-webfont.woff2) format("woff2"),
        url(./fonts/futura-medium-bt-webfont.woff) format("woff");
}
@font-face {
    font-family: Futura;
    font-weight: 700;
    src: url(./fonts/futura-heavy-font-webfont.woff2) format("woff2"),
        url(./fonts/futura-heavy-font-webfont.woff) format("woff");
}
@font-face {
    font-family: Futura;
    src: url(./fonts/futura-light-bt-webfont.woff2) format("woff2"),
        url(./fonts/futura-light-bt-webfont.woff) format("woff");
}

body {
    font-family: "Futura", Arial, Helvetica, Sans-serif;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
}

/* slider */
.awssld__controls__arrow-left:before,
.awssld__controls__arrow-right:before,
.awssld__controls__arrow-left:after,
.awssld__controls__arrow-right:after {
    background: #fff !important;
}

@variants hover, focus {
    .border-light-red {
        border-color: #f7c8c4;
    }

    .text-light-red {
        color: #f7c8c4;
    }

    .bg-light-red {
        background-color: #f7c8c4;
    }
}

@responsive {
    .h-800 {
        height: 800px;
    }

    .bg-grad {
        background: rgb(247, 200, 196);
        background: linear-gradient(
            0deg,
            rgba(247, 200, 196, 1) 0%,
            rgba(255, 238, 230, 1) 100%
        );
    }

    .banner {
        background-size: cover!important;
        background-repeat: no-repeat!important;
        background-position: center!important;
    }

    .big-font {
        font-size: 150px;
        text-shadow: 0 1px 15px #333;
    }

    .bg-cover {
        background-size: cover !important;
    }

    .bg-size-250 {
        background-size: 250%!important;
    }

    .bg-size-200 {
        background-size: 200%!important;
    }

    .bg-size-150 {
        background-size: 150%!important;
    }

    .bg-bottom {
        background-position: bottom!important;
    }

    .bg-right {
        background-position: right!important;
    }

    .bg-none {
        background: transparent!important;
    }
}
